<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gps_antenna">

  <xacro:macro name="gps_antenna" params="package name parent *origin">
   
    <link name="${name}_gps_antenna">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/gps_antenna.stl"/>
        </geometry>
        <material name="">
          <color rgba="1.0 1.0 0.9 1"/>
        </material>
      </visual>
    </link>
    <joint name="${name}_gps_antenna_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_gps_antenna"/>
    </joint>

    <link name="${name}_gps_link"/>
    <joint name="${name}_gps_link_joint" type="fixed">
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <parent link="${name}_gps_antenna"/>
      <child link="${name}_gps_link"/>
    </joint>

  </xacro:macro>

</robot>